/* CSS declarations go here */
td, th {
    border : 1px solid silver;
}
.right {
    float : right;
}
.group.head {
    text-align : left;
    padding-left : 20px;
    cursor : pointer;
}
.group.head.open {
    background : url("/img/arrow_up.png") no-repeat 0 2px;
}
